*{
  padding: 0;
  margin: 0;
}
html,body{
  font-family: sans-serif;
}
.container{
  height: 100vh;
  width: 100vw;
  background-color: #F2F5F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv{
  width: 90vw;
  height: 80vh;
  border: 5px solid #30406C;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar{
background-color: #FBFBFC;
width: 15%;
overflow: hidden;
color: #263446;
}
.rightbar{
background-color: #F2F5F9;
width: 85%;
overflow: hidden;
padding: 2vmax;
}
.item{
  display: flex;
  color: #293749;
  align-items: center;
  justify-content: flex-start;
  padding: 1vh 1vw;
  box-sizing: border-box;
}
.select{
  background-color: #0D53FC;
  color: #FFFFFF;
}
.item h2{
  font-size: 14px;
  margin-left: 2vw;
  font-weight: 800;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.topsid h2{
  font-size: 18px;
  color: #303D4E;
}
.topsid{
  display: flex;
  padding: 1vmax;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-between;
}
.topsid p{
  font-size: 12px;
  color: grey;
}