*{
  padding: 0;
  margin: 0;
}
html,body{
  font-family: sans-serif;
}
.container{
  height: 100vh;
  width: 100vw;
  background-color: #F2F5F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.maindiv{
  width: 90vw;
  height: 70vh;
  border: 5px solid #30406C;
  display: flex;
  border-radius: 20px;
  overflow: hidden;
}

.sidebar{
background-color: #FBFBFC;
width: 15%;
overflow: hidden;
color: #263446;
}
.rightbar{
background-color: #F2F5F9;
width: 85%;
overflow: hidden;
}
.item{
  display: flex;
  color: #293749;
  align-items: center;
  justify-content: space-evenly;
  padding: 1vh 1vw;
  margin: 1vh 0vw;
  box-sizing: border-box;
}
.select{
  background-color: #0D53FC;
  color: #FFFFFF;
}
.item h2{
  font-size: 14px;

}